body {
    font-family: 'Paprika', cursive;
    background-image: url('//hasilpaudyal.com.np/img/cover.jpg');
    background-position: top;
    background-repeat: repeat;
    background-size: contain;
    position: relative;
    background-attachment: fixed;
    background-blend-mode: lighten;
}

.c-page__title,
.myloader {
    position: fixed;
    width: 100%
}

.c-image--responsive,
.myloader {
    width: 100%
}

.card {
    padding: 1rem;
}

.card-content {
    font-size: larger;
}

.brand-logo {
    margin-left: 1rem;
    width: fit-content;
}

.small-text {
    font-size: 0.8rem;
}

footer {
    position: relative;
    z-index: 99990 !important;
}

.materialboxed {
    z-index: 99996 !important;
}

#materialbox-overlay {
    z-index: 99995 !important;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: #2196F3
}

.waves-effect.waves-deep-purple .waves-ripple {
    background-color: #673ab7
}

.waves-effect.waves-light-green .waves-ripple {
    background-color: #8bc34a
}

.waves-effect.waves-indigo .waves-ripple {
    background-color: #3f51b5
}

.waves-effect.waves-lime .waves-ripple {
    background-color: #cddc39
}

.waves-effect.waves-amber .waves-ripple {
    background-color: #ffc107
}

.waves-effect.waves-deep-orange .waves-ripple {
    background-color: #ff5722
}

.waves-effect.waves-brown .waves-ripple {
    background-color: #795548
}

.waves-effect.waves-blue-grey .waves-ripple {
    background-color: #607d8b
}